.wrapper
  .banner
    .banner__pyramid
      img(src='img/pyramid.png' alt='pyramid')
    .banner__pers
      img(src='img/sam-desc.png' alt='sam')
    .banner__info
      .banner__title Sua cidade #[br] de entretenimento
      .banner__code
        .banner__code-copy FAVBET CITY
        .banner__code-text #[span 10 FR por] código promocional
    .banner__footer
      ul.banner__footer-list
        li.banner__footer-item
          .percent +1500 #[span BRL]
          .info depósito #[br] até
        li.banner__footer-item
          .percent +300 #[span BRL]
          .info uma aposta #[br] sem risco


